<div class="tj">
	<header>
		<a href="#home">	
			<span><</span>
			<span>首页</span>
		</a>
		<p>精选二手房</p>			
		<a href="">
			<span>更多</span>
		</a>
	</header>
	<div class="banner">
		<p>
			 <a href="">
			 	<span>刚需房</span>	 	
			 </a>
			 <a href="">
			 	<span>精装修婚房</span>	 	
			 </a>
			 <a href="">
			 	<span>小户型</span>	 	
			 </a>
			 <a href="">
			 	<span>养老房</span>	 	
			 </a>
			 <a href="">
			 	<span>精品别墅</span>	 	
			 </a>			
		</p>
		 <a href="">
		 	<span>+</span>
		 </a>
	</div>
	<div class="main">
		<ul>
			<li ng-repeat="q in arr">
				<img src={{q.img}}>
				<h3>{{q.name}}</h3>
				<p>{{q.site}} </p>
				<p>{{q.case}} </p>
				<!-- <p ng-repeat="{x,y} in q.arr">
					<span ng-show={{y}}>{{y}}</span>
				</p> -->
				<span class="aa">{{q.price}} </span>
			</li>
		</ul>
		<p class="see">查看更多刚需房</p>
	</div>
	<div class="footer">
		<p>小区大全|网站地图|历史浏览|最新房源|房贷计算器</p>
		<p>手机版|电脑版|客户端|意见反馈|免责声明</p>
		<span>Copyright © 2007-2014 Anjuke.com 沪B2-20090008</span>
		<div class="jia"></div>
	</div>
</div>