
	<div class="mo3">
		<div class="mo32"></div>
		<div class="mo31">选择区域板块</div>
		<div class="mo33">
			<p  class="mo331">
			<span class="span2">北京11月房价走势</span>  
			本月均价<span class="span">56566</span>元/m*m <span class="top"><i></i>↑5.56%</span></p>
			<img src="./images/canvas.png">
			<!-- <canvas></canvas> -->
		</div>
	</div>
	<div class="fex">
	<div class="ssss">
		<div>
			<span>>>收起</span>
		</div>
		<div>
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>
			<div>
				<p>门头沟</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>	
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>	
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>	
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>	
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>	
			<div>
				<p>通州</p>
				<ul>
					<li>不限</li>
					<li>西上园</li>
					<li>梨园</li>
					<li>通州北苑</li>
					<li>临河里</li>
					<li>新华大街</li>
					<li>新华联</li>
					<li>果园</li>
					<li>北关</li>
					<li>玉桥</li>
					<li>乔庄</li>
					<li>九棵树</li>
					<li>运河大街</li>
					<li>武夷花园</li>
					<li>焦王庄</li>
				</ul>
			</div>					
		</div>
	</div>
	</div>
		<!-- <div class="mo34">
			<p><span>北京推荐二手房</span></p>
			<ul>
			<li ng-repeat="q in arr">
				<img src={{q.img}}>
				<h3>{{q.name}}</h3>
				<p>{{q.site}} </p>
				<p>{{q.case}} </p>
				<p ng-repeat="{x,y} in q.arr">
					<span ng-show={{y}}>{{y}}</span>
				</p>
				<span class="aa">{{q.price}} </span>
			</li>
			</ul>
			<p class="tj">更多推荐 ></p>
		</div>
			</div>
			<div class="mo35">
		<p>北京各区域二手房 <span>></span></p>
		<p>北京二手房房价 <span>></span></p>
		<p>热门城市二手房 <span>></span></p>
			</div>
			<div class="mo36">
		<p>北京二手房间>朝阳二手房</p>
			</div>
			<div class="footer">
		<p>小区大全|网站地图|历史浏览|最新房源|房贷计算器</p>
		<p>手机版|电脑版|客户端|意见反馈|免责声明</p>
		<span>Copyright © 2007-2014 Anjuke.com 沪B2-20090008</span>
		<div class="jia"></div>
			</div> -->