*{margin:0 ;padding:0;font-size:.12rem;box-sizing: border-box;}
a{color: #999;text-decoration: none;}
.modul_shangpu{width:100%;background:#ececec;}
.modul_shangpu .nav{width:100%;height:.45rem;background: #62ab00;font-size:.16rem;
  color: white; line-height:.45rem;display: flex;} 
  .modul_shangpu .nav_3 {width: 100%;height:.81rem;display:flex;background:white;}
  .modul_shangpu .nav_3 >div{width: 25%;margin:auto;background:no-repeat url(../images/tiao.png) right center;}
   .modul_shangpu .nav_3 >div p{text-align: center;}
   .modul_shangpu .nav_3 >div:last-child{background:none;}
   .modul_shangpu .nav_3 >div img{margin:auto;margin-left:.21rem;}
  .modul_shangpu .nav a{font-size: .16rem;color:white;display: inline-block;} 
  .modul_shangpu .nav a:first-child{transform:scale(1.5,1.5); font-weight:700; margin: 0 2%;}
  .modul_shangpu .nav a:nth-child(3){margin-left:.77rem;}
  .modul_shangpu .nav a:nth-child(4){transform: rotate(90deg);margin-left: 2%;}
  .modul_shangpu .nav a:nth-child(5){margin-left: 31%;}
  .modul_shangpu .nav a:nth-child(5) img{vertical-align: middle;}
  .modul_shangpu .ershou_daohang{width:100%;padding:0 .1rem .1rem; 
    display:flex;height:.4rem;align-items:center;background:#ececec;}
    .modul_shangpu .ershou_daohang >div{padding-left: .1rem;width:100%;height:100%;background:white;display:flex;align-items:center;}
    .modul_shangpu .ershou_daohang input{border: none;}
    .modul_shangpu .ershou_daohang i{width:1px ;height:.2rem;background:#d9d9d9;display:inline-block;float:right;}
    .modul_shangpu .img{width:100%;height:.5rem;padding:0 .1rem;}
    .modul_shangpu .img img{height:100%;width:100%;}
    .modul_shangpu .list{background:white;}
   .modul_shangpu .list .listshow{width: 100%;height:.95rem;padding:.1rem;display:flex;
   	border-top:1px solid #999;justify-content:space-between;}
    .modul_shangpu .list .listshow >img{width:1rem;height:.75rem;}
    .modul_shangpu .list .listshow .inner_list{height: .75rem;width:1.9rem;position:relative;}
    .modul_shangpu .list .listshow .inner_list >span{color:red;position:absolute;bottom:0;right:0;font-size:.18rem;}
    .modul_shangpu .list .listshow .inner_list >p:nth-child(1){
       height:.4rem;line-height: .2rem;
    	font-weight:700; display: -webkit-box;-webkit-line-clamp: 2;
       -webkit-box-orient: vertical;overflow: hidden;text-overflow:ellipsis;}
    .modul_shangpu .list .listshow .inner_list >p{overflow: hidden;}
    .modul_shangpu .xiangqing .c_1{display: flex;width:100%;margin-top:.1rem;background:white;}
    .modul_shangpu .xiangqing .c_1 >div:nth-child(1){width:22%;text-align: center;}
    .modul_shangpu .xiangqing .c_1 >div:nth-child(1) i{margin-top:.05rem;background:#eee;width: 1px;height:.2rem;float:right;}
    .modul_shangpu .xiangqing .c_1 >div:nth-child(2){width:78%;vertical-align: middle;}
    .modul_shangpu .xiangqing .c_1 >div:nth-child(2) a{float: right;}
    .modul_shangpu .xiangqing .c_1 >div span{margin-top: 6px; font-size: .14rem;
    display: inline-block;  }
    .modul_shangpu .xiangqing .c_1 >div:nth-child(2) span{margin-left:.3rem;font-size: .14rem;}
    .modul_shangpu .xiangqing .c_2{margin:1px 0;display: flex;width:100%;height:.5rem;background:white;}
    .modul_shangpu .xiangqing .c_2 p{width:15%;height:100%; line-height:.5rem;text-align: center;}
    .modul_shangpu .xiangqing .c_2 p:last-child{width:25%;}
    .modul_shangpu .xiangqing .c_2~div{justify-content:space-between;background:white;width:100%;height:.5rem;display:flex;align-items:center;}
    .modul_shangpu .xiangqing .c_2~div >p:last-child{margin-right:.38rem;}
    .modul_shangpu .xiangqing .c_2~div >p:first-child{margin-left:.12rem;}
    .modul_shangpu .xiangqing .c_5 img{margin-left:.09rem;}
    .modul_shangpu .bus_tittle{width:100%;height:.51rem;background:white;line-height:.51rem;margin-top:.1rem;}
    .modul_shangpu .bus_tittle span{margin-right:.1rem;float:left;height:100%;width:2px;background: #62ab00;display:inline-block;}