*{
	margin: 0;
	padding: 0;
	font-size: 0.12rem;
}
body{
	background: #F3F3F3;
}
.mod-answerMore{
	width: 100%;
	/*height: 8.5rem;*/
	background: #f3f3f3;
}
/*.mod-answerMore li{
	list-style: none;
	float: left;
}*/
.mod-answerMore a{
	text-decoration: none;
}
.mod-answerMore-head{
	width: 100%;
	height: 0.6rem;
	background: white;
}
.mod-answerMore-head li{
	list-style: none;
}
.mod-answerMore-head-3{
	float: left;
}
.mod-answerMore-head-1{
	float: right;
}
.mod-answerMore-head-2{
	float: right;
	margin-right: 0.1rem;
}
.mod-answerMore-login{
	width: 100%;
	height: 0.5rem;
	line-height: 0.5rem;
	background: #61af00;
	clear: both;
}
.mod-answerMore-login a{
	color: white;
	font-size: 0.16rem;
}
.mod-answerMore-login li{
	width: 20%;
	text-align: center;
	list-style: none;
	float: left;
}
.mod-answerMore-nav{
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	clear: both;
	background: #e9e9e9;
}
.mod-answerMore-nav li{
	width: 33.33%;
	list-style: none;
	float: left;
}
.mod-answerMore-nav-1 a{
	color: #9c9d9d;
	font-size: 0.2rem;
	padding-left: 0.1rem;
}
.mod-answerMore-nav-1 span{
	font-size: 0.2rem;
	font-weight:900;
}
.mod-answerMore-nav-2 a{
	color: #323232;
	font-size: 0.2rem;
	padding-left: 0.2rem;
}
.mod-answerMore-nav-3 a{
	color: #323232;
	font-size: 0.13rem;
	padding-left: 1rem;
}
.mod-answerMore-main-1{
	padding: 0.1rem 0.15rem;
	clear: both;
}
.mod-answerMore-main-1-inner1{
	float: left
}
.mod-answerMore-main-1-inner1 input[type="text"]{
	height: 0.45rem;
	width: 3rem;
	font-size: 0.2rem;
}
.mod-answerMore-main-1-inner2{
	float: left;
	width: 0.7rem;
	height: 0.5rem;
	line-height: 0.5rem;
	background: #59a000;
	text-align: center;
	color: white;
	font-size: 0.2rem;
	border-radius: 0 5px 5px 0;
}
.mod-answerMore-main-2{
	clear: both;
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 0.25rem;
	font-weight: 800;
	margin-left: 0.15rem;
}
.mod-answerMore-main-3{
	width: 100%;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	background: white;	
	box-sizing: border-box;
}
.mod-answerMore-main-3 li{
	list-style: none;
	float: left;
}
.mod-answerMore-main-3-inner1{
	float: left;
	color: #999;
	font-size: 0.2rem;
	margin-left: 0.15rem;
}
.mod-answerMore-main-3-inner2{
	float: left;
}
.mod-answerMore-main-3-inner2 li{
	
	width: 0.8rem;
	text-align: center;
	box-sizing: border-box;
}
.mod-answerMore-main-3-inner2 a{
	font-size: 0.2rem;
	display: inline-block;
	height: 32px;
	color: #666;
	padding-left: 9px;
}
.mod-answerMore-main-3-inner2 a:hover{
	color: #337400;
	border-bottom: 1px solid #59a200;;
}
.mod-answerMore-main-3-inner2 span{
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #999;
	margin-left: 16px;
}

.mod-answerMore-main-7 li{
	padding: 10px;
	width: 100%;
	margin-bottom: 2px;
	border-top: 1px solid #d9d9d9;
	list-style: none;
	float: left;
}
.mod-answerMore-main-7 li:first-child{
	border-top: none;
}
.mod-answerMore-main-7 p{
	font-size: 0.2rem;
	color: #333;
	
	line-height: 0.3rem;
}
.mod-answerMore-main-7-span1{
	display: inline-block;
	float: right;
	font-size: 0.2rem;
	font-weight: 800;
	color: #999;
}
.mod-answerMore-main-7-span2{
	padding-left: 0.2rem;
}
.mod-answerMore-main-7 li:last-child{
	text-align: center;
	width: 85%;
	background: white;
	margin-left: 4%;
	border: 1px solid #D9D9D9;
}
.mod-answerMore-main-8{
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin-left: 0.15rem;
}
.mod-answerMore-main-8 div{
	float: left;
	color: #666;
}
.mod-answerMore-main-8 div:last-child{
	margin-left: 5px;
}
